In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({"Age":np.random.randint(1,100,10)})
df

   Age
0   25
1   19
2    5
3   29
4   84
5   77
6    9
7   10
8   78
9   13