In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib.inline

In [3]:
df = pd.DataFrame({"Age":np.random.randint(1,100,10)})
df
print("ini aku")

   Age
0   69
1   78
2   48
3    1
4   48
5   85
6   56
7   95
8   29
9   17